@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
    background-color: #f4f4f4;
    font-family: Raleway;
    color: #444;
    font-size: 1.2em;
}
h1{
    background-color: #c6f5f1;
}
