@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
    /* background-color */
    /* font-family */
    /* color */
    /* font-size */
    font-family: 'Raleway', sans-serif;
    color: #666;
    font-size: 1.2em;
}

