@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
*{ margin: 0; padding: 0; box-sizing: border-box; }
body{
    font-family: Nunito;
    color: #707070;
}
header{
    height: 110px;
    border-top: 8px solid #E16D65;
    display: flex;
    align-content: center;
}
    #top{
        width: 900px;
        margin: auto;
        display: flex;
        justify-content: space-between; /* separación i - d */
    }
    /* ####### MENU ######## */
    header a{
        text-decoration: none;
    }

    #top :not( nav a ){
        color: #E16D65;
        font-weight: bold;
        font-size: 20px;
        padding: 20px 0px;
    }
    #top nav a{
        color: #707070;
        padding: 20px 0px 20px 35px;
    }
    #top nav a:hover{
        color: #E8988A;
    }
    /* ####### FIN MENU ######## */
    /* ####### HERO IMAGE ######## */
    #hero{
        height: 350px;
        /*background-repeat: no-repeat;*/
        background-image: url(../imagenes/pink-desk.webp);
        background-size: cover;
        background-position: center;
    }
    /* ####### FIN HERO IMAGE ######## */
    /* ####### MAIN ######## */
    main{
        width: 900px;
        margin: auto;
        min-height: 500px;
        display: flex;
        flex-wrap: wrap; /* respeta los anchos */
        justify-content: space-between;
        margin-top: 30px;
    }
        main h1{
            width: 100%;
            font-size: 20px;
        }
        main article{
            width: 400px;
        }
        main article h2{
            font-size: 16px;
            background-image: url(../flaticons/wrench-sunglo.png);
            background-size: 20px 20px;
            background-repeat: no-repeat;
            padding-left: 30px;
            margin-bottom: 15px;
        }

    /* ####### FIN MAIN ######## */
    /* ####### footer ######## */
    footer{
        height: 110px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    footer nav{
        width: 100%;
        display: flex;
        justify-content: center; /* centrado horizontal */
        align-items: center; /* centrado vertical */
    }
    footer a{
        padding: 10px 20px;
    }
    footer nav a{
        text-decoration: none;
        color: #707070;
    }
    footer nav a:hover{
        color: #E8988A;
        transition: 200ms;
    }
    footer a img{
        width: 20px;
        opacity: .5;
    }
    footer a img:hover{
        opacity: 1;
    }
    /* ####### FIN footer ######## */